@model Masonry_Models.Category


<form method="post" asp-action="Create">
    @*We can delete this ""asp-action="Create"". It's optional' because we are in Create post action and it is the same name as Create*@
    @*Form executes post method and looks for post action method of "create"*@

    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
    </div>
    <div class="form-group row">
        <h2 class="text-info pl-3"> Create Category</h2>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DisplayOrder"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DisplayOrder" class="form-control" />
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @*<input type="submit" class=" btn btn-info w-100" value="Create" />*@

                            <button type="submit" class="btn btn-primary w-100">
                                <i class="fas fa-plus"></i> &nbsp; Create
                            </button>

                            @* https://stackoverflow.com/questions/11686007/font-awesome-input-type-submit *@
                        </div>
                        <div class="col">
                            <a asp-controller="Category" asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> &nbsp; Back</a>
                            @* If we're using views within same category, asp-controller="category" can be optional'  *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
    </div>
</form>

@*The below section adds the client side validation*@
@section Scripts{

    @{
                        <partial name="_ValidationScriptsPartial" />
    }

}
