@model ecommerce_masonry.Models.ViewModels.HomeViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can help me by providing feedback as you interact with my web page =)</a></p>
    <p>Register your account, submit an order and let me know about your  experience.</a></p>

    <div class="container">
        <div class="text-center">
            <button class="btn btn-dark filter-button" data-filter="all">All</button>
            @foreach (var obj in Model.Categories)
            {
                // Display all categories

            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.CategoryName.Replace(" ","_")">@obj.CategoryName</button>
                
            }
        </div>   
        <br />
        <div class="row">
            @foreach (var obj in Model.Products)
            {
                // Display all products
                <partial name="_IndividualProductCard" model="obj" /> // partial view is used so we can use it in more than one place
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function(){

    $(".filter-button").click(function(){

        var value = $(this).attr('data-filter');
        if(value == "all")
        {
            $('.filter').show('1000');
        }
        else
        {
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');

        }
    });

});
    </script>
}
