@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can help me by providing feedback as you interact with my web page =)</a></p>
    <p>Add your favorite rock, create category and application it would have.</a></p>
    <p>You can also leave your name in the product description!</a></p>
</div>
