@model ecommerce_masonry.Models.ViewModels.HomeViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can help me by providing feedback as you interact with my web page =)</a></p>
    <p>Add your favorite rock, create category and application it would have.</a></p>
    <p>You can also leave your name in the product description!</a></p>

    <div class="container">
        <div class="text-center">
            <button class="btn btn-dark filter-button" data-filter="all">All</button>
            @foreach (var obj in Model.Categories)
            {

            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.CategoryName.Replace(" ","_")">@obj.CategoryName</button>

            }
        </div>   
        <br />
        <div class="row">
            @foreach (var obj in Model.Products)
            {
                // Display all products

            }
        </div>
    </div>
</div>
